@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap' );

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
}
html, body{
    min-height: 100%;
    background-color: black;
    font-family: var(--fonte1);
    
}
header{
    background-color: black;
    color: white;
    height: 150px;
    width: 100%;
    
}
h1{
    text-align: center;
    font-size: 2.5em;
    padding: 10px;

    transform:  translate(0%, 60%);
    font-variant: small-caps;
    font-family: var(--fonte2);

}
header > p{
    text-align: center;
    padding: 10px;
    transform: translate(0%, 60%);
    font-size: small;
    
}
header a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    
}
header a:hover{
    text-decoration: underline;
}
main{
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 20px;
    font-family: var(--fonte3);
    font-size: 1vw;
}    
article{
    width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;

}
article p{
    padding: 7px;
    
}
.fundo1{
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed;
    color: white;
    width: 100%;
    
    
}
.fundo1 article{
    background-color: rgba(0, 0, 0, 0.500);
    display: inline-block;

}
.fundo2{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed;
    color: white;
    
}
.fundo2 article{
    background-color: rgba(0, 0, 0, 0.500);
    display: inline-block;
    
    
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer p{
    padding: 10px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}