@charset "UTF-8";

*{
    margin: 0px;
}
header{
    background-color: black;
    color: white;
    height: 150px;
    width: 100%;
    
}
h1{
    text-align: center;
    font-size: 2.5em;
    padding: 10px;

    transform:  translate(0%, 60%);

}
header > p{
    text-align: center;
    padding: 10px;
    transform: translate(0%, 60%);
    font-size: small;
    
}
header a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    
}
main{
    padding: 50px;
    padding-left: 20px;
}    
article{
    width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;

}
article p{
    padding: 7px;
    
}
.fundo1{
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed;
    color: white;
    min-width: 485px;
    
}
.fundo1 article{
    background-color: rgba(0, 0, 0, 0.500);

}
.fundo2{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed;
    color: white;
    min-width: 485px;
}
.fundo2 article{
    background-color: rgba(0, 0, 0, 0.500);
    
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer p{
    padding: 10px;
}
footer a{
    text-decoration: none;
    color: white;
}